:root {
  --teal-dark: #32afa9;
  --teal-light: #a9ddda;
  --purple: #3f3d56;
  --purple-light: #9693BE;
  --white: #fdfdfd;
  --black: #3333;

  /* font family vars */
  --roboto: "Roboto", sans-serif;
  --comfortaa: "Comfortaa", cursive;
}
