/* import css variables*/

@import url(/css/_variables.css);

html,
body {
  width: 100%;
}

/* Main content starts here */

main .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

main .row .col-lg-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

main .row .col-lg-7 {
  padding: 0;
}

.banner-img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 578px) {
  main .row .col-lg-3 {
    margin: 3em 0;
  }
}
