/* import css variables*/

@import url(/css/_variables.css);

html,
body {
  width: 100%;
  /* background-color: var(--teal-light); */
}

/* Main content starts here */
/* 
main {
  padding: 2em 2em;
} */

main .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  /* background: var(--teal-light); */
}

main .row .col-lg-3 {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

main .row .col-lg-7 {
  /* background-color: salmon; */
  padding: 0;
}

.banner-img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 578px) {
  main .row .col-lg-3 {
    margin: 3em 0;
}

}
