* {
  margin: 0;
  padding: 0;
}

/* global classes start here*/
button {
    outline: none!important;
    border: none!important;
}
/* global classes end here */

/* nav bar starts here */
.nav-link {
  text-transform: uppercase;
  font: bolder 16px/120% "Comfortaa", cursive;
  /* color: #3F3D56; */
}

.nav-item {
  padding: 1em;
}

/* nav bar ends here */
